:root {
--main-blue-color : #889798;
--main-tan-color: #e3d4c2;
--main-taupe-color: #cec1b0;
}

full-container {
max-width: 100%;
display: block;
margin: 0 auto;
}

/*Hero Section*/

.nav-container {
    background-color: #cec1b0;
    font-family: "Playfair Display SC", serif;
}

.nav-link {
    color: #7b8a8b;
}

.nav-link:hover {
    background-color: #7b8a8b;
    color: white;
    border-radius: 10px;
}

.navbar:hover {
    background-color: #7b8a8b;
}

.hero {
    background-image: url('../media/Portfolio-Banner-Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 71px;
}

.hero-img {
margin: 0px;
display: block;
max-width: 30%;
padding-top: 30px;
padding-bottom: 30px;
}

.hero-text {
    padding-top: 145px;
    padding-left: 145px;

}

.hero h1 {
    font-size: 75px;
   font-family: "Playfair Display SC", serif;
    color: #7b8a8b;
}

.hero h3 {
    color: var(--main-blue-color);
    font-size: 50px;
}

.hero button {
    border-radius: 10px;
    padding: 15px;
    margin: 50px 0px;
    background-color: var(--main-blue-color);
    border: none;
    color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition: all 200ms ease-in-out;
}

.hero button:hover {
    color: var(--main-blue-color);
    background-color: white;
    transition: all 200ms ease-in-out;
    }

/*General CSS*/

h3 {
    font-family: "Playfair", serif;
}

h2 {
    font-family: "Playfair", serif;
    color: var(--main-blue-color);
    font-size: 60px;
}

button {
    border: none;
    padding: 15px;
    border-radius: 5px;
    margin-top: 50px;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

p {
    font-family: "Abhaya Libre", serif;
    font-size: 25px;
}

a {
    text-decoration: none;
    color: black;
}

/*About Section*/

.quote p {
    margin-top: 85px;
    text-align: center;
    padding: 50px;
    color: #7b8a8b;
    font-size: 30px;
}


.about-container {
    margin: 80px 400px;
    padding: 60px;
}

/*Experience Section*/

.experience-container {
    text-align: center;
    margin: 80px;
}

.experience-container ul {
    padding-left: 0px;
}

.experience-container li {
    list-style: none;
    font-family: "Abhaya Libre", serif;
    font-size: 20px;
}

.experience-container button {
    background-color: #7b8a8b;
    padding: 20px 40px;
}

.experience-container button:hover {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    background-color: var(--main-tan-color);
    color: var(--main-blue-color);
    font-size: 24px;

}

/*Project Section*/

.projects-container h2 {
padding-top: 60px;
padding-left: 300px;
}

.project {
    padding: 20px;
    background-opacity: 80%;
}

.project h3 {
    font-size: 45px;
    font-weight: bold;
}

.project-description {
    padding-left: 300px;
    padding-top: 70px;
    color: white;
}

.project img {
    background-color: transparent;
    border: none;
    display: block;
    margin: 0 auto;
}

.one {
    background-color: var(--main-blue-color);
}

.one button {
    background-color: #7b8a8b;
    transition: all 200ms ease-in-out;
}

.one button:hover {
    transition: all 200ms ease-in-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 6px 4px rgba(0, 0, 0, 0.1);
}

.two {
    background-color: var(--main-tan-color);
}

.two button {
    background-color:#d8cab9;
}
.two button:hover {
    transition: all 200ms ease-in-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 6px 4px rgba(0, 0, 0, 0.1);
}

.three {
    background-color: var(--main-taupe-color);
}

.three button {
    background-color: #beb3a3;
}

.three button:hover {
    transition: all 200ms ease-in-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 6px 4px rgba(0, 0, 0, 0.1);
}

.four {
    background-color: var(--main-tan-color);
}

.four button {
    background-color: #d8cab9;
}

.four button:hover {
    transition: all 200ms ease-in-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 6px 4px rgba(0, 0, 0, 0.1);
}

.five {
    background-color: var(--main-blue-color);
}

.five button {
    background-color: #7b8a8b;
}

.five button:hover {
    transition: all 200ms ease-in-out;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1), 0 6px 4px rgba(0, 0, 0, 0.1);
}

/*Contact Section*/

.contact-container {
    text-align: center;
    padding: 30px;
    margin: 80px;
}

.contact-container h2 {
    font-size: 70px;
}

hr {
    display: block;
    margin: 0 auto;
    color: var(--main-blue-color);
    max-width: 50%;
}

.contact-container .email-link {
    font-size: 25px;
}

.contact-container button {
    color: var(--main-blue-color);
    background-color: white;
    box-shadow: none;
    font-family: "Abhaya Libre", serif;
    padding: 20px;
    margin: 15px;
    
}

.contact-container button:hover {
    color: white;
    background-color: var(--main-blue-color);
    transition: all 200ms ease-in-out;
    border-radius: 15px;
    padding: 15px;

}

.social-links  a {
    color: white;
    background-color: rgb(123, 138, 139);
    margin: 20px;
    padding: 21px 20px;
    font-size: 30px;
    border-radius: 50%;
    
}

.social-links a:hover {

    box-shadow: 0px 0px 10px 2px rgba(123, 138, 139, 0.2), 0px 0px 20px 8px rgba(123, 138, 139, 0.1);
    transition: all 200ms ease-in-out;
}


 
@media (max-width: 991.98px) {

    body {
        text-align: center;
    }

.navbar-toggler {
    margin: 0px;
}
    
.hero {
    margin-top: 71px;
    }

.hero h1 {
    font-size: 55px;
}

.hero-text {
    padding-top: 60px;
    padding-left: 0px;
    text-align: center;
}

.hero button {
    font-size: 27px;

}

.col-8{

    width: 100%;
}

.quote p {
    padding: 35px;
    font-size: 38px;
}

.about-container {
    margin: 10px;
    padding: 20px;
}

.about-container p {
    font-size: 32px;
}

.experience-container {
    margin: 10px;
}

.experience-container ul {
    padding-left: 0px;
}

.experience-container li {
    font-size: 30px;
}

.experience-container button {
    font-size: 30px;
}

.project {
    padding: 10px;
}

.col-6 {
    width: 100%;
}

.projects-container h2 {
    margin-top: 50px;
    padding: 15px;
}

.project-description {
    padding: 40px  10px;
    font-size: 27px;
}

.tools-text {
    font-weight: bold;
}

.project-description p {
    font-size: 36px;
}
.project-description ul {
    list-style: none;
    padding: 0px;
}

.project-description hr {
    width: 65%;
    border: white solid 1px;
    margin: 30px auto;
}

.contact-container {
    padding: 10px;
    margin: 40px;
}

.contact-container .email-link {
    font-size: 40px;
}

.social-links a {
    font-size: 50px;
    

}

}